<div class="card card-small card-post card-post--1 card-media mb-3 ml-3">
  <div class="card-post__image" style="background-image: url('<%= media.tmdb_image_path(:backdrop) %>');">
    <%= link_to media.tmdb_id, media.tmdb_url, class: "badge badge-pill badge-#{media.active ? 'success' : 'dark'} card-post__category", target: '_blank' %>
    <div class="card-post__author d-flex">
      <%= link_to media.title, edit_resource_path(media), class: "card-post__author-avatar card-post__author-avatar--small", style: "background-image: url('#{media.tmdb_image_path(:poster)}');" %>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-nowrap text-truncate">
      <%= link_to media.title, edit_resource_path(media), class: "text-fiord-blue" %>
    </h5>
    <p class="card-text d-inline-block mb-3"><%= media.synopsis.try(:truncate, 50, separator: /\s/) %></p>
    <span class="text-muted small"><%= media_details(media) %>&nbsp;</span>
  </div>
</div>