<div class="media">
  <%= tmdb_image_tag movie.poster, class: 'poster mr-3' %>
  <div class="media-body">
    <%= content_tag :span, movie.tmdb_vote_average, class: 'badge badge-pill badge-warning float-right' %>
    <h5 class="mt-0"><%= link_to movie.title, admin_movie_path(movie) %></h5>
    <p><%= movie.summary %></p>
    <span class="badge badge-pill badge-secondary">TMBD: <%= movie.tmdb_id %></span>
  </div>
</div>