<%= tmdb_image_tag @movie, :backdrop, class: 'backdrop' %>
<h1><%= @movie.title %></h1>

<h4>Cast</h4>
<% @movie.cast_credits.each do |credit| %>
  <figure class="figure cast-photo">
    <%= tmdb_image_tag(credit.person, :profile, class: 'figure-img img-fluid rounded') %>
    <figcaption class="figure-caption text-nowrap text-truncate">
      <%= credit.person.name %><br>
      <small><%= credit.character %></small>
    </figcaption>
  </figure>
<% end %>

<h4>Crew</h4>
<% @movie.crew_credits.each do |credit| %>
  <figure class="figure cast-photo">
    <%= tmdb_image_tag(credit.person, :profile, class: 'figure-img img-fluid rounded') %>
    <figcaption class="figure-caption text-nowrap text-truncate">
      <%= credit.person.name %><br>
      <small><%= credit.job %></small>
    </figcaption>
  </figure>
<% end %>