<div class="media">
  <%= tmdb_image_tag series.poster, class: 'poster mr-3' %>
  <div class="media-body">
    <%= content_tag :span, series.tmdb_vote_average, class: 'badge badge-pill badge-warning float-right' %>
    <h5 class="mt-0"><%= link_to series.title, admin_series_path(series) %></h5>
    <p><%= series.summary %></p>
    <span class="badge badge-pill badge-secondary">TMBD: <%= series.tmdb_id %></span>
  </div>
</div>