<%= tmdb_image_tag @series, :backdrop, class: 'backdrop' %>
<h1><%= @series.title %></h1>

<% @series.credits.select('credits.*, position').group_by(&:credit_type).each do |credit_type, credits| %>
  <h4><%= credit_type %></h4>
  <% credits.each do |credit| %>
    <div>
      <%= credit.position %><%= credit.person.name %>
      <%= credit.character %>
      <%= credit.job %>
      <%= credit.department %>
    </div>
  <% end %>
<% end %>

<% @series.seasons.each do |season| %>
  <h2><%= season.title %></h2>
  <% season.episodes.each do |episode| %>
    <div class="media mb-3">
      <%= tmdb_image_tag episode, :still, class: 'mr-3' %>
      <div class="media-body">
        <%= content_tag :span, episode.tmdb_rating, class: 'badge badge-pill badge-warning float-right' %>
        <h5 class="mt-0"><%= episode.title %></h5>
        <%= episode.synopsis %>
      </div>
    </div>
  <% end %>
<% end %>