<footer>
	<div class="footer_top">
		<div class="row no-gutters">
			<div class="col">
				<a href="#" class="mr-5"><%= image_tag('static/logo.png') %></a>
			</div>
			<div class="col col-md-auto">
				<a class="btn btn-lg btn-primary">Create Free Account</a>
			</div>
			<div class="col">
				<div class="social">
					<ul>
						<li class="ml-3"><a href="#"><%= fa_icon 'facebook' %></a></li>
						<li class="ml-3"><a href="#"><%= fa_icon 'twitter' %></a></li>
						<li class="ml-3"><a href="#"><%= fa_icon 'youtube' %></a></li>
						<li class="ml-3"><a href="#"><%= fa_icon 'rss' %></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_lists">
		<div class="row">
			<div class="col col-4">
				<p>iGems TV is the world's most extensive streaming guide, with every TV show and movie available to stream online. Browse through every TV series and movies and sort by title, release year, genre, IMDb rating and most important - See where to watch it. Then play with a single click or tap.</p>
				<p>'The easiest, most powerful universal search engine for all streaming service</p>
			</div>
			<div class="col col-3">
				<h5>What’s Streaming:</h5>
				<ul>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> What's on Netflix | New</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> What's on Hulu | New</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> What's on HBO | New</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> What's on Prime Video | New</a></li>
				</ul>
			</div>
			<div class="col col-3">
				<h5>What to Watch:</h5>
				<ul>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> What to Watch</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> Roulette Randomizer</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> Popular Movies</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> Popular TV</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> Free TV & Movies</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> Browse All content</a></li>
				</ul>
			</div>
			<div class="col col-2">
				<h5>Support:</h5>
				<ul>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> My Account</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> FAQ</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> Watch on TV</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> Help Center</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> Contact</a></li>
					<li><a href="#"><%= fa_icon 'angle-right', :class => 'mr-1' %> Sitemap</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="footnote">
	<div class="row align-items-center no-gutters">
		<div class="col">
			&copy; iGems - Streaming’s TV Guide 2019, All Rights Reserved
		</div>
		<div class="col col-md-auto">
			<%= image_tag('static/footnote.png') %>
		</div>
	</div>
</div>