<section class="masthead">
  <div class="masthead-image" style="background-image: url('<%= media.tmdb_image_path(:backdrop) %>');"></div>
  <div class="masthead-shadow"></div>
  <div class="masthead-title">
    <div class="container">
      <h1><%= media.title %> <span class="year"><%= media.year %></span></h1>
    </div>
  </div>
  <div class="masthead-footer">
    <div class="container">
    <div class="row">
      <div class="col-6">
        something
      </div>
      <div class="col-6 text-right">
        <div class="actions">
          <%= link_to_watchlist media %>
          <%= link_to_favorite media %>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<section class="details bg-grey">
  <div class="container">
    <div class="details-poster" style="background-image: url('<%= media.tmdb_image_path(:poster) %>');"></div>
    <div class="row">
      <div class="col-12">
        <div>
        Directed by <strong>NAOMI KAWASE</strong><br>
        Japan, France, 2014
        </div>
        <div>
        Romance, Drama
        </div>
        <div>
        116 | Japanese | English
        </div>
      </div>
      <div class="col-md-6">
        <h4>Synopsis</h4>
        <%= media.synopsis %>
      </div>
      <div class="col-md-6">
        <h4>Our Take</h4>
        <%= media.summary %>
      </div>
    </div>
  </div>
</section>