<tr>
  <td width="10">
    <%= award.year %>
  </td>
  <td>
    <%= tmdb_image_tag(award.media, :poster, class: 'poster mr-2 float-left') %>
    <%= award.media.name %>
    <div class="small text-muted"><%= award.media.details %></div>
  </td>
  <td>
    <% if award.award_type %>
      <%= content_tag(:strong, award.award_type.titleize) %>:
    <% end %>
    <%= award.award_name %>
  </td>
  <td class="text-right">
    <div class="btn-group btn-group-sm">
      <%= link_to icon_tag('edit'), edit_resource_path(award), class: 'btn btn-white' %>
    </div>
  </td>
</tr>